body{
    background-color: rgb(178, 246, 246);
    text-align: center;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}
table{
    padding: 15px;
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    overflow-x: auto;

}
p{
    text-align: center;
    font-size: 25px;
    color: aquamarine;
}
h2{
    color: bisque;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}